# Examining weather trends for Brussels and the world
> Project submission by M Bosquet as part of Udacity Data Analyst Nanodegree

This short report provides an overview of the steps taken to prepare the retrieved data to be visualized and observed, as outlined for the project.

## 1 Approach Outline

The following steps were taken to access and prepare the raw data from the database provided.

### 1.1. Tools used
- **SQL** to access data from the database provided and export as .csv files.
- **Excel** to combine global and individual city data, calculate moving averages and create line plots of temperature trends.
- **Python** for further analysis and visualizations (incl. warming stripes, correlation plotsand determination of correlation coefficient).

### 1.2. SQL Queries
Two queries were run in order to retrieve the raw data from the provided database. The first query was aimed at accessing the data from the global_data table, through the query:

 `SELECT *
     FROM global_dat`

With the second query the data from a selection of cities of interest were retrieved:

 `SELECT year, city, avg_temp
     FROM city_data`
 
 `WHERE city = 'Berlin' OR city = 'New York' OR city = 'Tokyo' OR 
       city = 'Brussels' OR city = 'Wellington'`

 `ORDER BY year`

## 2 Analysis

> *Missing - short intro*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('darkgrid')

In [2]:
#Load in cleaned data
data = pd.read_csv('temp_data_clean.csv', index_col='year')
data.head()

,avg_temp_global,avg_temp_Berlin,avg_temp_NewYork,avg_temp_Tokyo,avg_temp_Wellington,avg_temp_Brussels
year,,,,,,
1743,NaN,NaN,NaN,NaN,NaN,NaN
1744,NaN,NaN,NaN,NaN,NaN,NaN
1745,NaN,NaN,NaN,NaN,NaN,NaN
1746,NaN,NaN,NaN,NaN,NaN,NaN
1747,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Extracting column headers
locations = data.columns.tolist()
locations

['avg_temp_global',
 'avg_temp_Berlin',
 'avg_temp_NewYork',
 'avg_temp_Tokyo',
 'avg_temp_Wellington',
 'avg_temp_Brussels']

In [4]:
def warmingstripes(location):
    temps = data[location]
    stacked_temps = np.stack((temps,temps))

    vmin = 5.9
    vmax = 11
    
    ## plotting
    plt.figure(figsize=(4,18))
    
    img = plt.imshow(stacked_temps, cmap='RdBu_r', aspect=40, )

    plt.gca().set_axis_off()
    plt.subplots_adjust(top = 1, bottom = 0, right = 1, left = 0,
            hspace = 0, wspace = 0)
    plt.margins(0,0)
    plt.gca().xaxis.set_major_locator(plt.NullLocator())
    plt.gca().yaxis.set_major_locator(plt.NullLocator())
    
    plt.title('Warmingstripes for {}'.format(location[9:]))

    #save image   
    plt.savefig('stripes_' + location[9:] +'_2.png', bbox_inches = 'tight',
    pad_inches = 0, dpi=400)

## 3 Key Observations